.cont{
    background-image: url('../img/create.jpg');
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100%;
    overflow: hidden;
    scroll-behavior: hidden;  
} 

.container{
    position: absolute;
    margin-left: 450px;
    margin-top: -20px;
    width: 500px;
    height: 750px;
    outline: none;
    border-radius: 50px;
    background-color: #fdf6fc73;
    backdrop-filter: 1px;
    
} 

.container:hover{
    box-shadow: 0 0 10px rgba(44, 11, 34, 0.404), 0 0 10px rgba(44, 11, 34, 0.404), 0 0 10px rgba(44, 11, 34, 0.404); 
    transition-delay: 0.2s;
    transition: 0.8s; 
}

.title{
    color: rgb(10, 161, 91);
    flex-direction: column;
    font: bold 'Signika', sans-serif;
    font-weight: normal; 
    font-size: 40px;
    text-align: center;
    position: relative;
}

.input {
    border:solid 2px gray;  
    cursor: pointer; 
    padding: 6px;
    margin-top: 2px; 
    border-radius: 20px;
    width: 140px;
    margin: 2px;
    text-align: left;
    font-size: 15px;
}

.input:hover{
    background-color: #ffffcc73; 
}

.error {
    font: bold 'Signika', sans-serif;
    color: #e05757;
    text-align:center;
    margin: 0%;
    font-size: 13px;
}

.minMax input{
    width: 70px;
    margin: 7px;
}

.temps {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 17px;
    color: #160b37;
    font: bold 'Signika', sans-serif;
    margin-top:7px;  
    width: 180px;
    height: 150px; 
    margin-left: 160px;
} 

.templist {
    font-size: 15px;
    color: #1e9b43;
    font: bold 'Signika', sans-serif;
}

.tempSelect{
    margin-top: 7px;
    border-radius: 10px;
} 

.btnTemp{
    width: 25px;
    margin-left: 20px;
    border: none;
    font: bold 'Signika', sans-serif;
    background-color: #DE6200;
    color: white;
    border-radius: 10px;
    text-align:center;
    cursor: pointer;
} 

.btnTemp:hover{
    background-color: #fdf6fc73;
    box-shadow: 0 0 5px rgba(44, 11, 34, 0.404), 0 0 5px rgba(44, 11, 34, 0.404), 0 0 5px rgba(44, 11, 34, 0.404); 
    transition-delay: 0.2s;
    transition: 0.8s;  
}

.form{
    margin-top: 10px;
    font-size: 17px;
    color: #160b37;
    font: bold 'Signika', sans-serif;
    font-weight: bolder;
}

.formFooter{
    margin-top: 55px;
    margin-right: -70%;
}

.submitBtn{
    float: right;
    border: none;
    font: bold 'Signika', sans-serif;
    background-color: #855aeb;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(0,0,0,.5); 
    text-align:center;
    cursor: pointer;
    width: 90px;
    height: 90px;
    font-size: 18px;
}

.submitBtn:hover{ 
    background-color: #fff;
    border: none;
    color: #14045a;
    transition-delay: 0.2s;
    transition: 0.8s;
}

.back{
background-color: none;
padding: 30px;
}

.backBtn{
    border: none;
    font: bold 'Signika', sans-serif;
    background-color: rgba(209, 111, 5, 0.514);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(0,0,0,.5); 
    text-align:center;
    cursor: pointer;
    width: 70px;
    height: 70px;
    font-size: 17px;
}

.backBtn:hover{ 
    background-color: #fff;
    border: none;
    color: #160b37;
    transition-delay: 0.2s;
    transition: 0.8s;
}


@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);