.paged {
    text-decoration: none;
  }
  
  .listContainer {
    display: inline-flex;
    flex-direction: row;
  }
  
  .number {
    color: #fff;
    list-style: none;
    padding: 5px;
    font-size: 18px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .link {
    color: #fff;
    display:inline-flex;
    padding: 8px;
    margin: 4px;
    border: none;
    cursor: pointer;
    background-color: rgb(219, 126, 141);
    border-radius: 50%;
    list-style:none;
    width: 25px;
    height: 25px;
    align-items: center;
    font-size: 14px;
    
  }    
  
  .pages{
    margin-bottom: 10%;
  }

  .link:hover {
    background-color: #fff;
    border: none;
    color: #0b0332;
    transition-delay: 0.2s;
    transition: 0.8s;
  } 