.container {
  display: flex;
}

.input {
  font: bold 7.5vw/1.6 'Signika', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(236, 109, 109) ;
  width: 150px;
  height: 30px;
  font-size: 12px;
  color: transparent;
  text-align: center;
  cursor: pointer;
  color: rgb(63, 59, 59);
  margin-top: 7%;
  outline: none;
}

::placeholder {
  font: 1vw/1.6 'Signika', sans-serif;
  color: rgb(221, 92, 92);
}

.button {
  border: none;
  font: bold 7.5vw/1.6 'Signika', sans-serif;
  background-color: white;
  color: rgb(63, 245, 133);
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 17px;
  border-radius: 50px;
  margin-left: 10px;
}

.button:hover {
  background-color: #fff;
  border: none;
  color: #0c0535;
  font-weight: bolder;
  transition-delay: 0.2s;
  transition: 0.8s;
}


@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);